from __future__ import annotations

from dataclasses import dataclass


@dataclass(slots=True)
class Create{{ resource_class }}Request:
    name: str


@dataclass(slots=True)
class {{ resource_class }}Response:
    id: str
    name: str
