from __future__ import annotations

import logging

import azure.functions as func

{{ resource_name }}_blueprint = func.Blueprint()  # type: ignore[no-untyped-call]


@{{ resource_name }}_blueprint.route(
    route="{{ route_name }}",
    methods=["GET"],
    auth_level=func.AuthLevel.FUNCTION,
)
def {{ resource_name }}(req: func.HttpRequest) -> func.HttpResponse:
    logging.info("{{ route_name }} endpoint called")
    return func.HttpResponse(
        body="TODO: implement {{ route_name }}",
        status_code=200,
    )
