{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python"{% if include_db %},
    "DB_URL": "sqlite:///local.db"{% endif %}
  }
}

