from __future__ import annotations

import azure.functions as func

from app.core.logging import configure_logging
# azure-functions-scaffold: function imports
from app.functions.queue import queue_blueprint

configure_logging()

app = func.FunctionApp()
# azure-functions-scaffold: function registrations
app.register_functions(queue_blueprint)
